In [2]:
import pandas as pd 
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import classification_report,accuracy_score

In [3]:
df = pd.read_csv("insurance.csv")

In [7]:
df.sample(5)

,age,weight,height,income_lpa,smoker,city,occupation,insurance_premium_category
87,30,82.0,1.60,25.59837,False,Hyderabad,government_job,Low
71,38,54.1,1.81,20.25000,False,Chandigarh,unemployed,Low
64,71,117.8,1.78,1.02000,False,Chandigarh,retired,High
80,56,95.8,1.67,50.00000,False,Jalandhar,unemployed,High
25,59,60.2,1.55,30.00000,False,Mysore,government_job,Low

In [8]:
dfCopy = df.copy()

In [9]:
dfCopy["bmi"] = dfCopy["weight"]/(df["height"]**2)

In [10]:
def ageGroup(age):
    if age<25:
        return "young"
    elif age<45:
        return "intermediate"
    elif age<60:
        return "middle aged"
    else:
        return "senior citizen"

In [11]:
dfCopy["age group"] = dfCopy["age"].apply(ageGroup)

In [12]:
def lifeStyleRisk(row):
    if row["smoker"] and row["bmi"]>30:
        return "high"
    elif row["smoker"] and row["bmi"]>30:
        return "medium"
    else:
        return "low"

In [13]:
dfCopy["lifestyle risk"] =  dfCopy.apply(lifeStyleRisk, axis=1)

In [ ]:
tier1Cities = [
    "Bangalore",
    "Chennai", 
    "Delhi",
    "Hyderabad",
    "Kolkata",
    "Mumbai",
    "Ahmedabad",
    "Pune"
]

tier2Cities = [
    "Agra", "Aligarh", "Allahabad", "Amravati", "Amritsar", "Asansol", 
    "Aurangabad", "Bareilly", "Belgaum", "Bellary", "Bhavnagar", "Bhopal", 
    "Bhubaneswar", "Bhiwandi", "Bikaner", "Bokaro Steel City", "Chandigarh", 
    "Coimbatore", "Cuttack", "Dehradun", "Dewas", "Dhanbad", "Durg-Bhilai", 
    "Faridabad", "Guntur", "Gurugram", "Guwahati", "Gwalior", "Hubli-Dharwad", 
    "Indore", "Jabalpur", "Jaipur", "Jalandhar", "Jamnagar", "Jamshedpur", 
    "Jammu", "Jodhpur", "Kanpur", "Karnal", "Kochi", "Kolhapur", 
    "Kozhikode", "Kota", "Lucknow", "Ludhiana", "Madurai", "Mangalore", 
    "Meerut", "Moradabad", "Mysore", "Nagpur", "Nashik", "Navi Mumbai", 
    "Nellore", "Noida", "Patna", "Pondicherry", "Pune", "Raipur", 
    "Rajkot", "Ranchi", "Ratlam", "Rewa", "Sagar", "Salem", "Satna", 
    "Shimla", "Shimoga", "Solapur", "Srinagar", "Surat", "Thane", 
    "Thiruvananthapuram", "Tiruchirappalli", "Tirupati", "Tiruppur", 
    "Ujjain", "Vadodara", "Varanasi", "Vasai-Virar", "Vellore", 
    "Vijayawada", "Visakhapatnam", "Warangal"
]